section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header About us
            .title__text We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Ut nostrud magna adipisicing sit aliqua dolore sit adipisicing tempor ipsum.

            li.about__item
                .icon.icon-book
                h3.about__header Landing page Creation
                p.about__description Ut nostrud magna adipisicing sit aliqua dolore sit adipisicing tempor ipsum.

            li.about__item
                .icon.icon-message
                h3.about__header Ads managment
                p.about__description Ut nostrud magna adipisicing sit aliqua dolore sit adipisicing tempor ipsum.

