section.approch
    .container
        .title.title--with-bottom-line
            h2.title.title__header Our Approch
            .title__text Check Our approches step by step (how we do it)

        ul.approch__list
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-1.jpg" alt="step 1 picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 1: Heading Here
                    p.approch__description.
                        Sint dolor aute et duis laborum aliqua excepteur est elit Lorem. 
                        Magna exercitation sunt non aute aliquip. 
                        Ut fugiat in fugiat incididunt ea. Id dolore excepteur sunt pariatur ipsum.
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-2.jpg" alt="step 2 picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 2: Heading Here
                    p.approch__description.
                        Sint dolor aute et duis laborum aliqua excepteur est elit Lorem. 
                        Magna exercitation sunt non aute aliquip. 
                        Ut fugiat in fugiat incididunt ea. Id dolore excepteur sunt pariatur ipsum.
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-3.jpg" alt="step 3 picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 3: Heading Here
                    p.approch__description.
                        Sint dolor aute et duis laborum aliqua excepteur est elit Lorem. 
                        Magna exercitation sunt non aute aliquip. 
                        Ut fugiat in fugiat incididunt ea. Id dolore excepteur sunt pariatur ipsum.
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-4.jpg" alt="step 4 picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 4: Heading Here
                    p.approch__description.
                        Sint dolor aute et duis laborum aliqua excepteur est elit Lorem. 
                        Magna exercitation sunt non aute aliquip. 
                        Ut fugiat in fugiat incididunt ea. Id dolore excepteur sunt pariatur ipsum.
                    

