section.form-section
    .container
        .title
            h2.title__header Get Your Free Facebook Analysits Now
            .title__text Enter Your detail below

        .btn-down: a.arrow-down: i.fa.fa-angle-down

        .form-container.is-hidden
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    Sit aliqua adipisicing minim aliquip eiusmod voluptate excepteur esse pariatur duis et cupidatat dolor. 
                    Et ex enim enim officia. Est voluptate excepteur id exercitation officia pariatur dolor veniam.

                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(type="submit").button.button--red.button--text-uppercase Submit now